*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.register-btn{
    transition: all .2s ease-in-out;
}
.register-btn:hover{
    color: green !important;
    background-color: rgb(212, 218, 32) !important;
    font-size: 1.53rem !important;
}
a{
    color: red !important;
}
a:hover, a:visited:hover{
    color: green !important;
}
a:visited{
    color: blue !important;
}